:root {
  font-family: "Glass Antiqua", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding-top: 0;
}

.primera-seccion {
  background: #a17fe0;
  background: linear-gradient(
    180deg,
    rgba(161, 127, 224, 1) 0%,
    rgba(250, 244, 230, 1) 100%
  );
}

.main-menu {
  padding: 1em 2em 0 2em;
  margin: 0;
  font-size: 2em;
  font-style: italic;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

h1 {
  margin-top: 0;
  padding: 0;
  font-family: "Glass Antiqua", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  font-style: italic;
  color: aliceblue;
}

a {
  text-decoration: none;
  color: aliceblue;
}

.cuerpo-central {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-year {
  margin: 3em 0 0 0;
}

.titulo {
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10em;
  margin: 0;
  text-shadow: 2px 0 0 #a17fe0, 0 3px 0 #a17fe0, 1px 0 0 #a17fe0,
    0 2px 0 #a17fe0;
  color: #faf4e6;
  letter-spacing: 0.05em;
}
